<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 80%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>


<body>
<div style="width: 100%;">
    <div style="float:left; width: 60%">
        <video id="video" width="640" height="480" autoplay></video>

    </div>
    <div class="vertical-center">
        <button id="snap">Snap Photo</button>
    </div>
    <div style="float:right; width: 40%">
        <canvas id="canvas" width="500" height="150"></canvas>
    </div>
</div>
<div style="clear:both"></div>



</body>
<script>

    var video = document.getElementById('video');
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({video: true}).then(function (stream) {
            //video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
            video.play();
        });
    }

    var canvas = document.getElementById('canvas');
    //canvas.moveTo(650, 100);
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function () {
        //context.drawImage(video, 0, 0, 640, 480);
        //<% self.postImage(video.toString('base64')) %>
        //<% print(video.toString('base64')) %
        //var text = 'Howdy World!';
        var text =JSON.stringify(video.toString('base64'));

        //Set the font size and the fontface to use.
        context.font = '15px Arial'
        context.fillStyle = '0,0,0';
        var x = 50;
        var y = 100;
        context.fillText(text, 0, 100);
        //self.postImage(video.toString('base64'));
        var request = new XMLHttpRequest();
        request.open('POST', 'http://localhost:5000/pythonImagePost');
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        //xmlhttp.send(JSON.stringify(video.toString('base64')));
        context.fillText(xmlhttp.send(JSON.stringify(video.toString('base64'))), 100, 150);
        context.write('Sent');
        //request.open('POST', '/submit?image=' + video.toString('base64'), true);
        //request.send();
    });


</script>
</html>